view 
{
    background-color: #ffffff;
}

.btn-font
{
    color            : #446620;
    font-size        : 13px;
}

.btn-green
{
    background-color : linear-gradient(#87c44a, #b4da77);
    border-width     : 1px;
    border-color     : #84a254;
    border-style     : solid;
    border-radius    : 10px;
}

.btn-heart icon:normal
{
    background-image: url(btn_heart.png);
}

.btn-heart icon:highlighted
{
    background-image: url(btn_heart_selected.png);
}

.myView
{
    background-color: #FF0000;
    border: 1 solid #0000FF;
}